.stock-body{
    padding: 8px;
}

#btnNewProduct{
    background-color: #216fdb;
    padding: 9px;
    border-radius: 4px;
}

table{
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
}

tr{
    height: 32px;
}

table, tr{
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #c3c3c3;
}

td{
    padding: 8px;
}