

.footer-body{
    background-color:  #313131c7;
    color: #fff;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.footer-column{
    /* border: 1px solid blue; */
    height: 100%;
    width: 350px;
    height: fit-content;
    padding: 8px;
}

.footer-column a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.footer-column img{
    margin: 10px;
    border-radius: 100%;
    background-color: #fff;
    padding: 8px;
}

.footer-column #qr-link{
    border: 3px solid #c3c3c3;
    border-radius: 0;
    background: none;
    padding: 0;
}