

.footer-body{
    background-color:  #313131c7;
    color: #fff;
    height: fit-content;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.footer-column{
    border: 1px solid blue;
    height: 100%;
    width: 350px;
    height: 250px;
}